body{
	background: black;
	color: yellow;
	font: 12px;
}
#header{
	font: 20px;
}
#content{
	position: relative;
	float: right;
	width: 45%;
	height: 100%;
}
.comment{
	position: relative;
	float: left;
	width: 100%;
}
#commentForm{
	position: relative;
	float: left;
	width: 45%;
}