
#userForm{
	visibility: hidden;
}
.comment{
	margin: 5px;
	position: relative;
	float: right;
	width: 90%;
}
.ratImg{
	position: relative;
	float: left;
}
.comment h3{
	border: solid 1px #AAA;
	margin: 0;
	padding: 0;

	width: 50%;
}
label{
	display: block;
}
#ageField{
	width: 100px;
	height: 50px;

	position: relative;
	float: left;
}