
#userForm{
	visibility: hidden;
}
.comment{
	border: solid 1px black;
	margin: 5px;
}
.comment h3{
	background-color: #DDD;
	margin: 0;
	padding: 0;
}
label{
	display: block;
}
#ageField{
	width: 100px;
	height: 50px;
}